<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

.t1{color: aliceblue; height: 300px; width:; }
.b1 a{color: antiquewhite; text-decoration: none;}
.t1 p{font-size: 70%; }
.t1 h5{padding: 1.3rem;}
.t2{padding: 2rem;}





    </style>
</head>
<body>
    <!--Footer-->
<div class="my-5"></div>
<footer>
     <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 btn btn-dark b1" ><button class="btn btn-dark bg-dark"><a href="#">Back to Top</a></button></div>
        </div>
        <div class="row t1">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 bg-dark text-center ft2">
                <h5>About</h5>
                <p>International Company</p>
                <p>Shopping Store</p>
                <p>Lorem, ipsum dolor.</p>
                <p>Lorem, ipsum dolor.</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 bg-dark text-center t2">
                <h5 class="text-center">Company</h5>
                <p>International Company</p>
                <p>Shopping Store</p>
                <p>Lorem, ipsum dolor.</p>
                <p>Lorem, ipsum dolor.</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 bg-dark text-center t2">
                <h5 class="text-center ">Resources</h5>
                <p>International Company</p>
                <p>Shopping Store</p>
                <p>Lorem, ipsum dolor.</p>
                <p>Lorem, ipsum dolor.</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 bg-dark text-center t2">
                <h5 class="text-center ">Social Links</h5>
                <a href=""><i class= "fas fa-facebook " ></i></a>
                <a href=""><i class="fas fa-instagram"></i></a>
                <a href=""><i class="fas fa-twitter"></i></a>
                
            </div>
        </div>
    </div>
   
    
</footer>
</body>
</html>